<div class="calc">
    <div class="calc__container">
        <input type="number" class="calc__input" [(ngModel)]="first"/>
    <select class="calc__select" [(ngModel)]="operation">
        <option [value]="operation" *ngFor="let operation of operations">{{operation}}</option>
    </select>
    <input type="number" class="calc__input" [(ngModel)]="second"/>
    
    <button class="calc__btn" (click)="calc()">Рассчитать результат операции</button>

<div class="calc__result">
    <span class="calc__result">Результат: {{result ? result : 'Нажмите Рассчитать'}}</span>
</div>

